<form method="post" action="/recipes/<%=@recipe.id%>/edit">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p> Recipe Name: <input type="text" name="name"></p>
  <p> Ingredients Needed: <input type="text" name="ingredients"></p>
  <p> Cooktime: <input type="text" name="cook_time"></p>
  <input type="submit" value="edit">
</form>
